extends layout
block content
    - var listOfMovie = movies
    form(action="searchmovies", method="post")
        input(type="text", name="movies", placeholder="search")
        input(type="submit", placeholder="search")
    
    if movies
        each movie in listOfMovie['Search']
            div.film-container
                div.film-container-left
                    h3 Title: #{movie.Title}
                    img(src="#{movie.Poster}", alt="#{movie.Title}", width="100px") 
                div.film-container-right
                    ul  
                        li Year: #{movie.Year}
                        li imdbID: #{movie.imdbID}
                        li Type: #{movie.Type}
        

